body{
  background-size: cover;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.intro{
    background-image: url(../Images/background.jpg);
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: sans-serif;
  }

  p1 {
      color: black;
      text-align: center;
      font-size: small;
  }

.MouseClick {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.services {
    background-image: url(../Images/s_image.jpg);
    text-align: center;
    color: white;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
}

h5 {
    color: black;
    text-align: center;
    font-family: 'Yantramanav', sans-serif;

}

h6 {color: black;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-size: small;
}

.WhatWeDo {
  color: #000;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
}

.hide{
    display:none;
  }

.container-fluid {
    text-align: center;
    background-image: url(../Images/c_image.jpg);
    color: white;
}

.card-deck {
  padding: 1% 4%;
}

.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.card-1 {
  position: absolute;
  width: 100%;
  text-align: center;
  background: rgba(7, 7, 7, 0.63);
  cursor: pointer;
  display: none;
  font-size: 25px;
  padding-top: 30%;
  min-height: 100%;
  color: white;
}

#form input{
    background-color: transparent; 
    align-items: center;
  }

#Name{
  color: white;
}

#Email{
    color: white;
  }

#form textarea{
    background-color: transparent;
    color: white;
  }

#email::placeholder{
    color: white;
  }
  
#name::placeholder{
    color: white;
  }

  .Footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }  

