*{
    margin: 0;
    padding: 0;
    color:white;
}

.intro{
    background-image: url(../Images/background.jpg);
    text-align: center;
    color: white;
}

.aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: sans-serif;
  }
  p1 {
      color: black;
      text-align: center;
      font-size: small;
  }

.MouseClick {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.services {
    background-image: url(../Images/s_image.jpg);
    text-align: center;
    background-size: cover;
    color: white;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
}

h5 {
    color: black;
    text-align: center;
}

p{
    color: black;
}