*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro{
    background-image: url(../Images/background.jpg);
    background-position: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    height: auto;
    background-size: cover;
}

.aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 200;
  }

  p1 {
      color: black;
      text-align: center;
      font-size: small;
  }

.MouseClick {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.services {
    background-image: url(../Images/s_image.jpg);
    text-align: center;
    color: white;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
}

h5 {
    color: black;
    text-align: center;
    font-family: 'Yantramanav', sans-serif;

}

h6 {color: black;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-size: small;
}

.WhatWeDo {
  color: #000;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
}

.hide{
    display:none;
  }

.container-fluid {
    text-align: center;
    background-image: url(../Images/c_image.jpg);
    color: white;
}

.card-deck {
  padding: 1% 4%;
}

.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.card:hover img {
  width: 80%;
  height: 80%;
  border: 2px solid white;
  margin-left: 10%;
  margin-top: 10%;
  overflow: hidden;
  transform: scale(1.2)
}

.card-1 {
  position: absolute;
  width: 100%;
  background: rgba(7, 7, 7, 0.63);
  cursor: pointer;
  font-size: 25px;
  display: none;
  min-height: 100%;
  color: white;
  font-size: 25px;
}

#form input{
    background-color: transparent; 
    align-items: center;
  }

#Name{
  color: white;
}

#Email{
    color: white;
  }

#form textarea{
    background-color: transparent;
    color: white;
}

  .Footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }  

